#events{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
    gap: 1rem; 
}
#eventCard{
    background-color: black;
    color:white;
}
#eventCardImg{
    position: relative;
    width:100%;   
}