#events{
    display: grid;
    place-items: center; 
    overflow-x: hidden;
    /* gap: 1rem; */
}

#eventCard{
    background-color: white;
    color:black;
    transition: box-shadow .3s;
    margin-top: 1rem;
    
}

#eventCardImg{
    background-color: white;
    object-fit:contain; 
}

#eventCard:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 

}

.badge-container {
    display: flex;
    gap: 0.5rem; /* Adds space between the spans */
    position: absolute;
}

.nav-item{
    padding: 10px 0;
}

.nav-item:hover{
    background-color: rgba(106, 238, 243, 0.336);
    border-radius: 50%;
}

.row.align-items-center.g-lg-5.py-5{
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5%;
}


.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }


 .col-md-10.mx-auto.col-lg-5.mobile{
    display:none;
 }



/* MOBILE */
@media only screen and (max-width: 425px) {
    #events{
        grid-template-columns: repeat(1, 1fr); /* Makes a vertical stack */
    }
    .button-33{
        margin: 2rem 0;
    }

    .col-md-10.mx-auto.col-lg-5.notMobile{
        display: none;
    }
    .col-md-10.mx-auto.col-lg-5.mobile{
        display:block;
     }
}

/* TABLET  */
@media only screen and (min-width: 426px) {
    #events{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* LAPTOP  */
@media only screen and (min-width: 1024px) {
    #events{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* MASSIVE SCREENS  */
@media only screen and (min-width: 1024px) {
    #events{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}