body{
    background-color: whitesmoke;
}
.dot{
    position:absolute;   
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 5px;
}


.navbar {
    background: linear-gradient(#EDFBEE, whitesmoke) !important; 
    font-size: large;
}

.navbar a.nav-link:hover {
    color: gray; /* Optional: Change color on hover */
    border-bottom: 4px solid green;
}

.previous {
    text-decoration: none;
    display: inline-block;
    position: absolute;
    padding: 0px 20px 5px;
    font-size: 2rem;
    margin: 5px 0 0 5px;
}

.previous.round {
    border-radius: 50%; /* Makes the button circular */
    background-color: #80b984; /* Change this color as needed */
    color: white;
}

.previous.round:hover {
    background-color: #26861e; /* Darker shade for hover effect */
}

#event-info {
    display: block;
}

#event-titre{
    margin-top: 1rem;
}
#question-button-template{
    width: 100%;
    place-self: center;
    text-align: center;
    margin-bottom: 1rem;
    border:none;
}

#question-text-div{
    width: 100%;
    background-color: #bdfcc1;
    border-color: #EDFBEE;
    color:black;
}

.question-actions{
    display: inline-flex ;
    gap:2rem;
}
.actions{
    background-color: #26861e;
    color:black !important;
    margin-top:0.5rem;
    border-radius: 15%;
    padding: 0.25rem;
    border:1px solid black !important;
}

section {
    display: flex; 
}

#event-information, #questions {
    padding: 1rem;
    box-sizing: border-box; /*Ensures padding doesn't add to width*/
}

#event-information{
    box-shadow: 0 0 10px 5px black;
}

#eventImg{
    max-width: 25%;
    object-fit:contain; 
    float: left;
    margin-right: 2rem;
}

#eventDescription{
    position: relative;
}

.input-group{
    margin-bottom:1rem;
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    padding: 0.5rem 0;
    margin-top:1rem;
}

.card{
    background-color: rgba(199, 255, 194, 0.2);;
}

#reponsesPossibles{
    display: inline-block ; 
    list-style-type: none ; 
    width: 100%;
}

.reponsesPossiblesItem{
    display: inline-block ; 
    margin-right: 3rem;
}
.smallerDot{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #c4c4c4; /* Red dot */
    border-radius: 50%;        /* Make it circular */
    margin-right: 5px;  
}
.pageHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#createQuestions
{
    width: fit-content;
}
.btns{
    margin: 0.5rem;
}

.playEvent, .stopEvent{
    font-size: 1rem;
    border-radius: 10%;
    padding: 0.5rem; 
    border: 1px solid black;
    cursor: pointer;
}

.playEvent {
    color: green; /* Change play-fill icon color */
}
.stopEvent {
    color: red; /* Change play-fill icon color */
}
.playEvent:hover {
    background-color:rgba(183, 248, 183, 0.329); /* Change play-fill icon color */
}
.stopEvent:hover {
    color: red; /* Change play-fill icon color */
    background-color: rgba(255, 165, 165, 0.329);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    cursor:none;
  }

#questions {
    flex: 1; /* Take the remaining 80% */
}

.Stop{
    background-color: rgb(255, 115, 115);
}
.Play{
    background-color: rgb(47, 134, 47);
}
/* MOBILE */
@media only screen and (max-width: 426px) {
    .previous{
        position: relative;
    }
    #event-info {
        display: block;
        position:relative;
    }
    #question-button-template{
       display: inline-flex;
       width: 100%;
       justify-self: center; /* Horizontal alignment */
       align-self: center;   /* Vertical alignment */
    }

    #event-information{
        display: none;
    }

    
}

/* laptops and higher */
@media (min-width: 426px) {
    section {
        flex-direction: row; /* Arrange children horizontally */
    }

    #event-information {
        flex: 0 0 30%; /* Fixed width: 20% of the container */
        max-width: 30%; /* Prevent overflow */
        max-height: max-content;
        background-color: #f9f9f9; /* Optional: Background color */
        margin : 2rem;
    }
}